body{
  background-image: url('hangman-play-background.png');
  background-size: cover;
}
.hole{
  background-color: rgb(248, 185, 129);
  width: 100px;
  height: 30px;
  position: absolute;
  top: 47vh;
  left: 51vw;
  box-shadow: 0 0 5px 5px;
}
.main{
  font-size: 30px;
  text-align: center;
}
.main a{
  position: absolute;
  right: 0;
  top: 0;
  text-decoration: none;
  font-size: 50px;
}
button{
  width: 35px;
  height: 35px;
  margin: 5px;
  background-color: rgb(248, 185, 129);
}
.buttons{
  width: 550px;
  text-align: center;
  margin: 50px;
  border: 1px solid white;
  box-shadow: 0 0 10px 5px white;
  backdrop-filter: blur(20px);
}