body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    transition: background 0.3s ease;
  }
  
  body.light-mode {
    background-color: lightgrey;
    color: black;
  }
  
  body.dark-mode {
    background-color: lightslategray;
    color: white;
  }
  
  .calculator {
    width: 300px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    background: rgba(255,255,255,0.2);
    transition: all 0.3s ease;
    position: relative;
  }
  @font-face {
    font-family: 'Seven_segment';
    src: url('fonts/Seven\ Segment.ttf') format('truetype');
  }
  .display {
    height: 60px;
    background: rgba(255,255,255,0.2);
    margin-bottom: 15px;
    border-radius: 10px;
    padding: 4px;
    font-size: 30px;
    text-align: right;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-family: 'Seven_segment', monospace;
  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }
  
  button {
    padding: 20px;
    font-size: 18px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    transition: background 0.2s ease;
    margin-top: 11px;
  }
  
  body.light-mode #toCurrency{
    background-color: #2c2f48;
    color: white;
  }
  
  body.light-mode #fromCurrency{
    background-color: #2c2f48;
    color: white;
  }
  
  .light-mode button {
    background: #fff;
    color: #000;
    box-shadow: 2px 2px 5px #ccc;
  }
  
  .dark-mode button {
    background: #2c2f48;
    color: #fff;
    box-shadow: 2px 2px 5px #000;
  }
  
  .theme-toggle {
    position: absolute;
    top: 10px;
    left: 20px;
    background: none;
    font-size: 20px;
  }
  
  .converter {
    grid-column: span 4;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  
  select {
    width: 48%;
    padding: 5px;
    border-radius: 8px;
  }
  
  #result {
    margin-top: 15px;
    font-size: 23px;
    text-align: center;
  }
  button:nth-last-of-type(2){
    width: 200%;
  }
  button:nth-last-child(2){
    margin-left: 130%;
    width: 200%;
  }